body {
    margin: auto;
    max-width: 1400px;
}

header {
    margin-top: 20px;
}

header > div > h1 {
    color: #d04f4f;
}

/* main search bar */

.search-bar > div {
    position: relative;
    display: flex;
    flex: 1;
    height: 50px;
    margin: 0 20px;
}

.search-bar_main {
    background-color: #e7e7e7;
    border: inherit;
    border-radius: 4px;
    flex-grow: 1;
    padding: 5px 15px;
}

input[type="search"]:focus {
    outline: none;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

.search-bar > div > img {
    position: absolute;
    height: 20px;
    right: 10px;
    align-self: center;
}

/* tag ajouté en dessous de la barre de recherche principale */

.search-tag > div {
    display: flex;
    gap: 5px;
    cursor: pointer;
    align-items: center;
    margin: 10px 0;
    padding: 5px 15px;
    border-radius: 5px;
}

.search-tag > div > p {
    margin: 0;
    color: white;
    font-size: 0.8em;
}

.search-tag > div > img {
    height: 15px;
    filter: invert(100%) sepia(1%) saturate(3573%) hue-rotate(56deg) brightness(106%) contrast(100%);
}

.ingredients-tag_added {
    background-color: #3282f7;
}

.appareils-tag_added {
    background-color: #68d9a4;
}

.ustensiles-tag_added {
    background-color: #ed6454;
}

/* barre de recherche ingredient + tags */

.dropdown-searchbar {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 20px 0px;
    width: 500px;
    position: relative;
}

.div-ingredients, .div-appareils, .div-ustensiles {
    position: relative;
    display: flex;
    flex-grow: 1;
}

.ingredients-searchbar, .appareils-searchbar, .ustensiles-searchbar  {
    caret-color: #739ddb;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #3282f7;
    border: inherit;
    border-radius: 4px;
    padding: 15px 15px;
    width: 100%;
}

.ingredients-searchbar::placeholder, .appareils-searchbar::placeholder, .ustensiles-searchbar::placeholder {
    color: white;
}

.ingredients-searchbar:focus::placeholder, .appareils-searchbar:focus::placeholder, .ustensiles-searchbar:focus::placeholder {
    color: grey;
}

.div-ingredients > img, .div-appareils > img, .div-ustensiles > img {
    position: absolute;
    align-self: center;
    height: 20px;
    right: 10px;
    filter: invert(100%) sepia(1%) saturate(3573%) hue-rotate(56deg) brightness(106%) contrast(100%);
    transform: rotate(180deg);
}

.appareils-searchbar {
    background-color: #68d9a4;
}

.ustensiles-searchbar {
    background-color: #ed6454;
}

.ingredients-tag, .appareils-tag, .ustensiles-tag {
    display: none;
    position: absolute;
    background-color: #3282f7;
    top: 54px;
    width: 100%;
    flex-wrap: wrap;
    margin: 0;
    cursor: pointer;
    z-index: 2;
}

.ingredients-tag > p, .appareils-tag > p, .ustensiles-tag > p {
    flex-basis: 33.333333%;
    text-align: center;
    color: white;
}

.appareils-tag {
    background-color: #68d9a4;
}

.ustensiles-tag {
    background-color: #ed6454;
}


/* recettes */

.section-recette {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1%;
    row-gap: 25px;
}

.recette-card {
    display: flex;
    flex-direction: column;
    flex-basis: 30.33333%;
}

.recette-img {
    height: 200px;
    background-color: #c6bebe;
    border-radius: 5px 5px 0 0;
}

.recette-card-body {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background-color: #e7e7e7;
    border-radius: 0 0 5px 5px;
    gap: 20px;
    height: 200px;
}

.recette-card-body > div:nth-child(1) {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.recette-card-body > div:nth-child(1) > div:nth-child(1) {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
}

.recette-card-title {
    margin: 0;
}

.div-time {
    display: flex;
    gap: 5px;
}

.fa-clock {
    align-self: center;
}

.time {
    align-self: center;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.recette-card-ingr-desc {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    width: 100%;
    gap: 10px;
}

.recette-card-ingr-desc > div {
    flex: 1;
    flex-wrap: nowrap;
}

.recette-card-ingr-desc > div p {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
    
}

.description {
    height: 105px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;  
}




